/*Tag Selectors*/

h1 {
  color: red;
  font-size: 200px;
}

/*This is a comment in CSS - Class Selectors Below- Starts with * / ends with * /
img{background-color: red;}*/

.bacon {
  background-color: green;
}
.strawberry {
  background-color: red;
}

/* ID Selector # below */

#heading {
  color: blue;
}

/* Class and ID selectors overide Tag selectors- more specific*/
